In [1]:
import pandas as pd 
from pandas.io.json import json_normalize

# Load Receipt Dataset

In [2]:
# read json data file as pandas DataFrame
Receipt = pd.read_json('Data/receipts.json', lines=True)
Receipt.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [3]:
# basic information
Receipt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB

# Data Processing

In [4]:
# normalize the semi-structured data into a flat table
Receipt['_id'] = pd.json_normalize(Receipt['_id'])
Receipt['createDate'] = pd.json_normalize(Receipt['createDate'])
Receipt['dateScanned'] = pd.json_normalize(Receipt['dateScanned'])
Receipt['finishedDate'] = pd.json_normalize(Receipt[Receipt['finishedDate'].notnull()]['finishedDate'])
Receipt['modifyDate'] = pd.json_normalize(Receipt['modifyDate'])
Receipt['pointsAwardedDate'] = pd.json_normalize(Receipt[Receipt['pointsAwardedDate'].notnull()]['pointsAwardedDate'])
Receipt['purchaseDate'] = pd.json_normalize(Receipt[Receipt['purchaseDate'].notnull()]['purchaseDate'])
Receipt.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,500.0,1.609632e+12,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,150.0,1.609601e+12,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,1.609688e+12,1609687542000,1.609688e+12,5.0,1.609632e+12,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,5.0,1.609632e+12,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,5.0,1.609601e+12,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [5]:
# make rewardsReceiptItemlist into a separate table
Rewards_Receipt_Item_List = pd.DataFrame(Receipt[['_id','rewardsReceiptItemList']])

In [6]:
# drop the rewardsReceiptItemList column from the Receipt DataFrame
Receipt.drop(['rewardsReceiptItemList'],axis=1, inplace=True)

In [7]:
Receipt

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,500.0,1.609632e+12,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,150.0,1.609601e+12,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,1.609688e+12,1609687542000,1.609688e+12,5.0,1.609632e+12,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,5.0,1.609632e+12,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,5.0,1.609601e+12,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,1614594147000,1614594147000,NaN,1614594148000,NaN,25.0,NaN,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,NaN,1614604049000,NaN,25.0,NaN,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

# Identify Data Quality Issues

In [8]:
# check the data type
data_type = pd.DataFrame(Receipt.dtypes,columns=['Data Type'])

# check for missing data
missing_data = pd.DataFrame(Receipt.isnull().sum(), columns=['Missing Values'])

# check if the values are unique
unique_values = pd.DataFrame(columns=['Unique Values'])
for row in list(Receipt.columns.values):
    unique_values.loc[row] = [Receipt[row].nunique()]

Data_summary = data_type.join(missing_data).join(unique_values)

Data_summary

                        Data Type  Missing Values Unique Values
_id                        object               0          1119
bonusPointsEarned         float64             575            12
bonusPointsEarnedReason    object             575             9
createDate                  int64               0          1107
dateScanned                 int64               0          1107
finishedDate              float64             551           553
modifyDate                  int64               0          1104
pointsAwardedDate         float64             582           523
pointsEarned              float64             510           119
purchaseDate              float64             448           358
purchasedItemCount        float64             484            50
rewardsReceiptStatus       object               0             5
totalSpent                float64             435            94
userId                     object               0           258

##### There are a lot of missing values, we need to explore why there are missing and how to deal with these missing values
From the summary data above, we see there are 510 missing values of pointsEarned, check why they are missing.

In [9]:
# number of recepits group by reward receipt status
Receipt[['_id','rewardsReceiptStatus']].groupby('rewardsReceiptStatus').count()

                      _id
rewardsReceiptStatus
FINISHED              518
FLAGGED                46
PENDING                50
REJECTED               71
SUBMITTED             434

In [10]:
# number of receipts that the pointsEarned value is missing break by reward receipt status
Receipt[Receipt['pointsEarned'].isnull()][['rewardsReceiptStatus','_id']].groupby('rewardsReceiptStatus').count()

                      _id
rewardsReceiptStatus
FLAGGED                13
PENDING                50
REJECTED               13
SUBMITTED             434

##### We find that the number of PENDING and SUBMITTED matches, so the pointsEarned value are missing for those receipts that their status is PENDING or SUBMITTED

In [11]:
# check those receipts that are rejected
Receipt[Receipt['rewardsReceiptStatus'] == 'REJECTED']

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptStatus,totalSpent,userId
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,1609687537000,1609687537000,1.609688e+12,1609687542000,1.609688e+12,5.0,1.609632e+12,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
13,5f9c74f70a7214ad07000037,750.0,"Receipt number 1 completed, bonus point schedu...",1604089079000,1604089079000,1.609688e+12,1609687494000,1.609688e+12,750.0,1.604003e+12,11.0,REJECTED,1.00,5f9c74f7c88c1415cbddb839
28,5ff1e1d40a7214ada1000562,NaN,NaN,1609687508000,1609687508000,1.609789e+12,1609687508000,1.609789e+12,NaN,1.609632e+12,3.0,REJECTED,3.00,5ff1e194b6a9d73a3a9f1052
62,5ff4a4ca0a7214ada10005d0,750.0,"Receipt number 1 completed, bonus point schedu...",1609868490000,1609868490000,1.609856e+12,1609868492000,1.609856e+12,750.0,1.608733e+12,2.0,REJECTED,34.96,5fbc35711d967d1222cbfefc
175,5ff8da570a720f05c5000015,NaN,NaN,1610144343000,1610144343000,1.610369e+12,1610144344000,1.610397e+12,NaN,1.610323e+12,0.0,REJECTED,0.00,5ff8da28b3348b11c9337ac6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,603c7c6c0a7217c72c0003b3,25.0,COMPLETE_NONPARTNER_RECEIPT,1614576748000,1614576748000,NaN,1614576749000,NaN,25.0,NaN,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1112,603c3d240a720fde10000373,25.0,COMPLETE_NONPARTNER_RECEIPT,1614560548000,1614560548000,NaN,1614560549000,NaN,25.0,NaN,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1113,603cc2bc0a720fde100003e9,25.0,COMPLETE_NONPARTNER_RECEIPT,1614594748000,1614594748000,NaN,1614594749000,NaN,25.0,NaN,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,1614594147000,1614594147000,NaN,1614594148000,NaN,25.0,NaN,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,1614604048000,1614604048000,NaN,1614604049000,NaN,25.0,NaN,2.0,REJECTED,34.96,5fc961c3b8cfca11a077dd33

It seems that there are some issues with this data, there are some points earned for those receipts even they are rejected.